<!DOCTYPE html>
{% load static %}
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Forgot password</title>
    <link rel="stylesheet" href="{% static 'home/nav.css'%}">
    <link rel="stylesheet" href="{% static 'home/register_main.css'%}">

</head>

<body>
    <div id="globalMenu">
        <ul>
            <li>
                <a alt="School" href="" target="_blank">
                    <img width="50%" src="{% static 'images/logo.png' %}">
                </a>
            </li>
            <li>
                <a alt="School ABOUT" href="" target="_blank">
                    <img width="55%" src="{% static 'images/logo.png' %}">
                </a>
            </li>
        </ul>
    </div>
    <div class="form-style-10">
        <h1><img width="10%" alt="LOGO" src=""> FORGOT PASSWORD?<span>Please Enter your valid
                information to get LOG IN password again</span></h1>
        <form id="pwdGetFrm" action="" method="post" enctype="multipart/form-data"> {% csrf_token %}
            <div class="section">
                <span>♦</span>
            </div>
            <div class="inner-wrap">
                <label>Your Full ID
                    <input id="fID" type="text" name="fID" placeholder="Institutional ID">
                </label>
            </div>

            <div class="section">
                <span>♦</span>
            </div>
            <!--


            <div class="inner-wrap">
                <label>Your ID Card Serial No. (<span style="color:red">DIGITS ONLY</span>)<a href="#openModal">
                        <sup>Hints</sup> </a>
                    <div id="openModal" class="modalDialog">
                        <div><a href="#close" title="Close" class="close">X</a>
                            <img src="global_file/gazo/card_mod.jpg" alt="ID CARD">
                        </div>
                    </div>
                    <input id="idSlNo" type="text" name="idSlNo"
                        placeholder="Enter your 15-20 digits ID Crad Serial No">
                </label>
            </div>
            -->
            <div class="inner-wrap">
                <label>Valid Email
                    <input id="vldEmail" type="email" name="vldEmail" placeholder="Valid Email">
                </label>
            </div>
            <div class="section">
                <span>♦</span>
            </div>
            <div class="inner-wrap">
                <label>Valid Contact Number
                    <input id="vldCntct" type="text" name="vldCntct" placeholder=" Example; 01XXXXXXXXX">
                </label>
            </div>
            <div class="button-section">
                <input type="submit" name="pwdGetBtn" value="GET PASSWORD">
            </div>
        </form>
    </div>
</body>

</html>